<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384548972165-hif7pfvvj8k6acgao4nlaurdoaoe1sof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384548972165-hif7pfvvj8k6acgao4nlaurdoaoe1sof</string>
	<key>API_KEY</key>
	<string>AIzaSyDT87Zx_mQNogeV0RN5QHf8hLVVxlW94KA</string>
	<key>GCM_SENDER_ID</key>
	<string>384548972165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myflutterproject</string>
	<key>PROJECT_ID</key>
	<string>solutions-challenge-cf8f8</string>
	<key>STORAGE_BUCKET</key>
	<string>solutions-challenge-cf8f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384548972165:ios:1f5487aa2a07ca2ffeabec</string>
</dict>
</plist>